<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>図書一覧</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h2>図書管理システム</h2>
        </header>
        <article>
            <div class="side">
                <a href="{{url_for('mypage')}}">トップ</a><br>
                <a href="{{url_for('show_all_book')}}">一覧</a><br>
                <a href="{{url_for('mypage')}}">借りている本</a><br>
                <a href="{{url_for('mypage')}}">返却</a><br>
                <a href="{{url_for('mypage')}}">借りる</a><br>
                <a href="{{url_for('mypage')}}">レビュー</a><br>
                <a href="{{url_for('mypage')}}">ログアウト</a><br>
            </div> 
            <div class="content">
                <h2>詳細</h2>
                <p>isbn番号:{{ book[1]}}</p>
                <p>タイトル:{{ book[2]}}</p>
                <p>著者:{{ book[3]}}</p>
                <p>出版社:{{ book[4]}}</p>
                <a href="#">借りる</a><br>
                <button type="button" onclick="history.back()">戻る</button>
            </div>
        </article>
    </body>
</html>